<div [class]="'app-header header-shadow ' + (config$ | async).headerTheme">
  <div class="logo-src"></div>
  <div class="app-header__content">
    
      
    
    <div class="app-header-right">
      <!--<app-user-box></app-user-box>-->
      <ul><a routerLinkActive="active-item" routerLink="" class="vsm-link"><span
        class="vsm-title">Our Services</span></a></ul>

      <ul><a routerLinkActive="active-item" routerLink="" class="vsm-link"><span
        class="vsm-title">About Us</span></a></ul>

      <ul><a routerLinkActive="active-item" routerLink="/pages/login-boxed" class="vsm-link"><span
        class="vsm-title">Login</span></a></ul>

      <ul><a routerLinkActive="active-item" routerLink="/pages/register-boxed" class="vsm-link"><span
          class="vsm-title">New Buyer Request</span></a></ul>
    
    </div>
    <!--<div class="app-header-right">
      <app-search-box></app-search-box>
    </div>-->
    </div>
    
      
   
  <div class="app-header__mobile-menu">
    <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
            [ngClass]="{'is-active' : globals.toggleSidebarMobile}" (click)="toggleSidebarMobile()">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
  </div>
  <div class="app-header__menu">
    <span>
        <button class="btn-icon btn-icon-only btn btn-primary" [ngClass]="{'is-active' : globals.toggleHeaderMobile}"
                (click)="toggleHeaderMobile()">
            <div class="btn-icon-wrapper">
                <fa name="ellipsis-v"></fa>
            </div>
        </button>
    </span>
  </div>
</div>
